DATABASES = {
    'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'NAME': 'djproject',
            'USER': 'mydjangouser',
            'PASSWORD': 'SOMEPASSWORD!!!',
            'HOST': 'localhost',
            'PORT': '',
    }
}    